@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 14deg 100% 52%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 14deg 100% 52% 1;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 54deg 100% 70%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 54deg 100% 70%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-4xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

.prose-cactus img,
.prose-cactus video[playsinline] {
	border-radius: 10px;
	margin: 24px auto;
}
