---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Twitter",
		link: "https://twitter.com/mbleigh",
		name: "mdi:twitter",
		isWebmention: true,
	},
	{
		friendlyName: "Threads",
		link: "https://www.threads.net/@mbleigh.dev",
		name: "mdi:at",
		isWebmention: true,
	},
	{
		friendlyName: "GitHub",
		link: "https://github.com/mbleigh",
		name: "mdi:github",
		isWebmention: true,
	},
	{
		friendlyName: "LinkedIn",
		link: "https://linkedin.com/in/mbleigh",
		name: "mdi:linkedin",
		isWebmention: true,
	},
];

const { message } = Astro.props;
---

<div class="mt-8 flex flex-wrap items-center gap-x-2 text-xl font-bold text-accent-2">
	<p>{message || "Find me on"}</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
